<html>
    <head>
        <meta charset="UTF-8">
        <title> Login </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link
      rel="stylesheet"
      href=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
   <script src=
"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
    </script>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">loginPage</a>
    </nav>
        <div align="center">
            <br><br><br>
          <div align="center" >

            <h2 class="wordi">
                <form action="{{ url_for('login') }}" method="post">
                  <div class="msg">{{ msg }}</div>
                    <input id="username" name="username" type="text" placeholder=" Username" class="textboxi"/></br></br>
                    <input id="password" name="password" type="password" placeholder=" Password" class="textboxi"/></br></br></br>
                    <input type="submit" class="btni" value="Sign In"></br></br>
                </form>
            </h2>
            <p class="bottomi">Don't have an account?  <a class="bottomi" href="{{url_for('register')}}"> Sign Up here</a></p>
          </div>
        </div>
    </body>
</html>