

            .borderi{
                padding: 80px 50px;
                width: 400px;
                height: 450px;
                border: 1px solid #black;
                border-radius: 0px;
                background-color: white;
            }

            .btni {
                padding: 10px 40px;
                background-color: #505050;
                color: white;
                font-weight: bold;
                border-radius: 10px;
            }

            .textboxi{
            text-align: center;
                padding: 10px 40px;
                background-color: white;
                text-color: black;
                border-radius: 10px;
            }

            ::placeholder {
                color: grey;
                opacity: 1;
                font-weight: bold;
            }

            .wordi{
                color: black;
                font-weight: bold;
            }

            .bottomi{
                color: black;
                font-weight: bold;
            }